<%- layout('layouts/main.ejs') %>
<div class="imagen_principal">

    <div class="contenedor_menu">
        <div class="menu_posicionizquierda">
            <ul>
                <li class="letrasmenu_izquierdo">Jeans</li>
                <li class="letrasmenu_izquierdo">Playeras</li>
                <li class="letrasmenu_izquierdo">Sudaderas</li>
                <li class="letrasmenu_izquierdo">chamarras</li>
                <li class="letrasmenu_izquierdo">Pants</li>
                <li class="letrasmenu_izquierdo">Accesorios</li>
            </ul>
        </div>

        <div class="menu_posicionderecha">
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi esse officiis repudiandae sunt nihil sequi molestias, totam recusandae fugit soluta? Ipsam quae laudantium recusandae repellendus natus vero totam odit earum.</h1>
        </div>
    </div>

</div>

<div class="cuerpo_index">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, aliquam laborum! Saepe repudiandae libero ipsa repellat ipsum! Minus hic ipsam ipsum consequatur facere, fugit a ab eos similique debitis amet!
</div>

