<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style_header.css">
    <title>Signup</title>
</head>
<body>
    <div class="fondo_signup">
        <div class="contenedor_signup">
            <div class="signup_izquierdo">
                <div class="signup_logo">
                    <h1>Blue lamb</h1>
                    <h2>Disfruta la vida</h2>
                </div>
                <form action="" method="post" class="signup_formato">
                    <ul>
                        <li class="signup_datos"><input type="text" name="email" id="" placeholder="Correo"></li>
                        <li class="signup_datos"><input type="text" name="password" id="" placeholder="Contraseña"></li>
                        <li class="signup_datos"><input type="text" name="name" id="" placeholder="Nombre"></li>
                        <li class="signup_datos"><input type="text" name="phone" id="" placeholder="Número de teléfono"></li>
                        <li class="signup_datos"><input type="text" name="cuenta" id="" placeholder="Tipo de cuenta"></li>
                    </ul>
                </form>
            </div>
            <div class="signup_derecho">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias enim similique aliquam! Eius minima tempore unde assumenda, nobis suscipit nam optio perferendis facilis eos amet molestiae. Omnis, ex. Labore, quam.</p>
            </div>
        </div>
    </div>
</body>
</html>